
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Eczar:wght@400..800&family=Parkinsans:wght@300..800&family=Protest+Revolution&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
/* Set the navbar background  */

    .navbar {
      background-color: #000000; 
      z-index: 1000;
      position: sticky; 
      top: 0;
    }

    .navbar-nav .nav-item .nav-link.active {
      color: #5c2d38 !important; 
      
  }
  


    /*logo of navbar...............*/
    .navbar-brand{
    font-size: 2rem;
    color:#ffffff;
    
    font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    }
    .navbar-brand:hover{
        color:#5c2d38 ;
    
    
    }
    .nav-link{
    
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    
    }
    .nav-link:hover{
    color:#5c2d38;
    
    
    }

    
    
      /* fooooooottttttter logo */
      .footerlogo{
        font-size: 2rem;
        color:rgb(255, 255, 255);
        
        font-family: "Sour Gummy", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
        }
    
    
    
    .main h1 {
      font-size: 4rem;
      font-weight: 700;
      color: rgb(255, 255, 255);
      margin-top: 0;
      margin-bottom: 20px; 
      text-shadow: 5px 5px 8px rgba(0, 0, 0, 1);
      
    }
    
    .btn1 {
      height: 45px;
      width: 15%;
      border: none;
      outline: none;
      background-color: rgb(0, 0, 0);
      color: white;
      font-weight: 700;
      border-radius: 60px;
      cursor: pointer; 
      text-decoration: none; 
      transition: background-color 0.3s ease; 
    }
    
    .btn1:hover {
      background-color: rgb(171, 80, 30); 
    }
    
    /* Custom scrollbar */
    ::-webkit-scrollbar {
      width: 0.620rem;
    }
    ::-webkit-scrollbar-track {
      background: white;
    }
    ::-webkit-scrollbar-thumb {
      background: #A82C48;
    }
    
    
    
    /* Custom Login Button in Navbar */
    .navbar .btn-login {
      background-color: #5c2d38;
      color: white;
      font-size: 16px;
      font-weight: 600;
      padding: 10px 20px;
      border: 2px solid transparent;
      border-radius: 30px;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out; 
    }
    
    
    .navbar .btn-login:hover {
      background-color:  #A82C48; 
      border-color: #000000;
      
    }
    
    /* Focus Effect (when button is focused) */
    .navbar .btn-login:focus {
      outline: none;
      box-shadow: 0 0 5px #5c2d38; 
    }
    
    .navbar .btn-login:active {
      transform: scale(0.98); 
    }
    
    
  
      
    
    
   
    
    
    
    /* Custom button class for products */
    .btn-sub {
      background-color: black; 
      color: rgb(255, 250, 250); 
      border: none; 
    }
    
    .btn-sub:hover {
      background-color: #333; /* Darker shade when hovering */
    }
    
    
    /* reg sub button */
    
    .btn-reg {
      background-color: black; 
      color: rgb(255, 250, 250); 
      border: none; 
    }
    
    .btn-reg:hover {
      background-color: #333; 
    }
    
    /* reg button */
    .btn-link {
      background-color: rgb(255, 255, 255); 
      color: rgb(0, 0, 0);
      border: none; 
    }
    
    .btn-link:hover {
      background-color:#A82C48 ; 
    }


/* home page carousel */

    .carousel-item img {
      object-fit: cover; 
      height: 100vh;   
  }
  .carousel-caption {
      z-index: 10; 
  }
  

  .esportsB{
    
    background: url('../img/jersey/espbg.jpg') no-repeat center center;

  }
  .cricketB{
   
    background: url('../img/jersey/cbg.jpeg') no-repeat center center;
  }


  .btn-buy{



    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255); 
    border: none; 
  }
  
  .btn-buy:hover {
    background-color:#A82C48 ;
  }


  .btn-buy2{



    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255); 
    border: none; 
  }
  
  .btn-buy2:hover {
    background-color:#A82C48 ;
  }

  .btn-buy3{



    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255); 
    border: none;
  }
  
  .btn-buy3:hover {
    background-color:#A82C48 ;
  }

  .footballbg{

    background: url('../img/jersey/fbg.jpg') no-repeat center center;
   
  

  }

  

  /* sidebar */
  .nav-icon {
    margin-left: 10px;
  }
  
  .offcanvas .offcanvas-body {
    padding: 20px;
  }
  
  .offcanvas .btn {
    margin-top: 20px;
  }
  



/* login regi sidebar */

  .custom-offcanvas {
    background-color: #5c2d38;
    color: white;
  }

  .btn-black {
    background-color: black;
    color: white;
    border: none;
  }

  .btn-black:hover {
    background-color: #333;
    color: white;
  }

  .btn-link {
    font-size: 14px;
    padding: 0;
  }

  .form-label {
    color: #fff;
  }

  .form-control {
    background-color: #4b2331;
    color: white;
    border: 1px solid #ddd;
  }

  .form-control:focus {
    background-color: #4b2331;
    color: white;
    border-color: white;
    box-shadow: none;
  }
  